{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
<h3>Welcome</h3>
<p>feel free to use and if you have any suggestions please submit them at my guild discord</p>
<p><strong>PotHeads</strong> discord link - <a href="https://discord.gg/GxtaPQ9ntb">https://discord.gg/GxtaPQ9ntb</a></p>
<p>This project is still under development. If the site is down, just wait for 5 mins before using.</p>
<br/>
<h4>Special Thanks</h4>
<p>nodamagesquad guild</p>
<p>OGWaffle</p>
<p>ffsquirrel</p>
<p>Gomar</p>
<p>Quaxko</p>

{% endblock %}