{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
{% load static %}
<script type="text/javascript">
var Stopwatch = function(element, options, time_limit, voice) {

  var timer = createTimer(),
    audio_backflow_in = document.getElementById("audio_backflow_in"),
    audio_backflow = document.getElementById("audio_backflow"),
    audio_fire_in = document.getElementById("audio_fire_in"),
    audio_fire = document.getElementById("audio_fire"),
    audio_reflect_in = document.getElementById("audio_reflect_in"),
    audio_reflect = document.getElementById("audio_reflect"),
    audio_lightning_in = document.getElementById("audio_lightning_in"),
    audio_lightning = document.getElementById("audio_lightning"),
    audio_5 = document.getElementById("audio_5"),
    audio_4 = document.getElementById("audio_4"),
    audio_3 = document.getElementById("audio_3"),
    audio_2 = document.getElementById("audio_2"),
    audio_1 = document.getElementById("audio_1"),
    preloaded = false,
    count_5 = false,
    count_4 = false,
    count_3 = false,
    count_2 = false,
    count_1 = false,
    offset,
    clock,
    interval;

  // default options
  options = options || {};
  options.delay = options.delay || 1;

  // append elements
  element.appendChild(timer);

  // initialize
  reset();

  // private functions
  function createTimer() {
    return document.createElement("span");
  }

  function createButton(action, handler) {
    var a = document.createElement("a");
    a.href = "#" + action;
    a.innerHTML = action;
    a.addEventListener("click", function(event) {
      handler();
      event.preventDefault();
    });
    return a;
  }

  function start() {
    if (!interval) {
      offset = Date.now();
      interval = setInterval(update, options.delay);
    }
  }

  function stop() {
    if (interval) {
      clearInterval(interval);
      interval = null;
    }
  }

  function reset() {
    clock = 0;
    render(0);
  }

  function update() {
    clock += delta();
    render();
	play_voice_mode(voice, clock);
    if (clock > time_limit) {
      clock = 0;
    }
  }

  function render() {
    timer.innerHTML = clock / 1000;
  }

  function delta() {
    var now = Date.now(),
      d = now - offset;

    offset = now;
    return d;
  }

  function play_voice_mode(num, clock) {
    if (num == 1) { //backflow
      if (!preloaded) {
        if (clock >= 23000 && clock <= 24000) {
          audio_backflow_in.load();
          preloaded = true;
        }
      }
      if (clock >= 24000 && clock <= 25000) {
        audio_backflow_in.play();
        count_5 = false;
        count_4 = false;
        count_3 = false;
        count_2 = false;
        count_1 = false;
        backflow = false;
        preloaded = false;
      } else if (clock >= 25000 && clock <= 26000) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
      } else if (clock >= 26000 && clock <= 27000) {
        if (!count_4) {
          countdown_voice(4)
          count_4 = true;
        }
      } else if (clock >= 27000 && clock <= 28000) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
      } else if (clock >= 28000 && clock <= 29000) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
      } else if (clock >= 29000 && clock <= 30000) {
        if (!count_1) {
          countdown_voice(1)
          audio_backflow.load()
          count_1 = true;
        }
      } else if (clock >= 30000 && clock <= 31000) {
        if (!backflow) {
          audio_backflow.play()
          backflow = true;
        }

      }
    } else if (num == 2) { //fire
      if (!preloaded) {
        if (clock >= 23000 && clock <= 24000) {
          audio_fire_in.load()
          preloaded = true
        }
      }
      if (clock >= 24000 && clock <= 25000) {
        audio_fire_in.play()
        count_5 = false;
        count_4 = false;
        count_3 = false;
        count_2 = false;
        count_1 = false;
        fire = false;
        preloaded = false;
      } else if (clock >= 25000 && clock <= 26000) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
      } else if (clock >= 26000 && clock <= 27000) {
        if (!count_4) {
          countdown_voice(4)
          count_4 = true;
        }
      } else if (clock >= 27000 && clock <= 28000) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
      } else if (clock >= 28000 && clock <= 29000) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
      } else if (clock >= 29000 && clock <= 30000) {
        if (!count_1) {
          countdown_voice(1)
          audio_fire.load()
          count_1 = true;
        }
      } else if (clock >= 30000 && clock <= 31000) {
        if (!fire) {
          audio_fire.play()
          fire = true;
        }
      }
    } else if (num == 3) { //reflect
      if (!preloaded) {
        if (clock >= 23000 && clock <= 24000) {
          audio_reflect_in.load()
          preloaded = true
        }
      }
      if (clock >= 24000 && clock <= 25000) {
        audio_reflect_in.play()
        count_5 = false;
        count_4 = false;
        count_3 = false;
        count_2 = false;
        count_1 = false;
        reflect = false;
        preloaded = false;
      } else if (clock >= 25000 && clock <= 26000) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
      } else if (clock >= 26000 && clock <= 27000) {
        if (!count_4) {
          countdown_voice(4)
          count_4 = true;
        }
      } else if (clock >= 27000 && clock <= 28000) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
      } else if (clock >= 28000 && clock <= 29000) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
      } else if (clock >= 29000 && clock <= 30000) {
        if (!count_1) {
          countdown_voice(1)
          audio_reflect.load()
          count_1 = true;
        }
      } else if (clock >= 30000 && clock <= 31000) {
        if (!reflect) {
          audio_reflect.play()
          reflect = true;
        }
      }
    } else if (num == 4) { //lightning
      if (!preloaded) {
        if (clock >= 23000 && clock <= 24000) {
          audio_lightning_in.load()
          preloaded = true
        }
      }
      if (clock >= 24000 && clock <= 25000) {
        audio_lightning_in.play()
        count_5 = false;
        count_4 = false;
        count_3 = false;
        count_2 = false;
        count_1 = false;
        lightning = false;
        preloaded = false;
      } else if (clock >= 25000 && clock <= 26000) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
      } else if (clock >= 26000 && clock <= 27000) {
        if (!count_4) {
          countdown_voice(4)
          count_4 = true;
        }
      } else if (clock >= 27000 && clock <= 28000) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
      } else if (clock >= 28000 && clock <= 29000) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
      } else if (clock >= 29000 && clock <= 30000) {
        if (!count_1) {
          countdown_voice(1)
          audio_lightning.load()
          count_1 = true;
        }
      } else if (clock >= 30000 && clock <= 31000) {
        if (!lightning) {
          audio_lightning.play()
          lightning = true;
        }
      }
    }
  }

  function countdown_voice(num) {
    if (num == 1) {
      audio_1.play()
    } else if (num == 2) {
      audio_2.play()
    } else if (num == 3) {
      audio_3.play()
    } else if (num == 4) {
      audio_4.play()
    } else if (num == 5) {
      audio_5.play()
    }
  }

  // public API
  this.start = start;
  this.stop = stop;
  this.reset = reset;
};

window.onload = function() {
  var anew = document.getElementById("backflow");
  backflow_timer = new Stopwatch(anew, {
    delay: 50
  }, 35000, 1);
  var bnew = document.getElementById("reflect");
  reflect_timer = new Stopwatch(bnew, {
    delay: 50
  }, 35000, 3);
  var cnew = document.getElementById("fire");
  fire_timer = new Stopwatch(cnew, {
    delay: 50
  }, 35000, 2);
  var dnew = document.getElementById("lightning");
  lightning_timer = new Stopwatch(dnew, {
    delay: 50
  }, 35000, 4);
};

const bg_change_interval = setInterval(setColor, 500);

function setColor() {
  let backflow_div = document.getElementById("backflow_div");
  let backflow_value = document.getElementById("backflow").innerText;
  if (backflow_value <= 25) {
   backflow_div.style.backgroundColor = "#B9FEC2";
  } else if (backflow_value >= 25 && backflow_value <= 30){
    backflow_div.style.backgroundColor = "#FDE6A5";
  } else if (backflow_value => 30) {
    backflow_div.style.backgroundColor = "#FDABA5";
  }
  
  let reflect_div = document.getElementById("reflect_div");
  let reflect_value = document.getElementById("reflect").innerText;
  if (reflect_value <= 25) {
   reflect_div.style.backgroundColor = "#B9FEC2";
  } else if (reflect_value >= 25 && reflect_value <= 30){
    reflect_div.style.backgroundColor = "#FDE6A5";
  } else if (reflect_value => 30) {
    reflect_div.style.backgroundColor = "#FDABA5";
  }
  
  let fire_div = document.getElementById("fire_div");
  let fire_value = document.getElementById("fire").innerText;
  if (fire_value <= 25) {
   fire_div.style.backgroundColor = "#B9FEC2";
  } else if (fire_value >= 25 && fire_value <= 30){
    fire_div.style.backgroundColor = "#FDE6A5";
  } else if (fire_value => 30) {
    fire_div.style.backgroundColor = "#FDABA5";
  }
  
  let lightning_div = document.getElementById("lightning_div");
  let lightning_value = document.getElementById("lightning").innerText;
  if (lightning_value <= 25) {
   lightning_div.style.backgroundColor = "#B9FEC2";
  } else if (lightning_value >= 25 && lightning_value <= 30){
    lightning_div.style.backgroundColor = "#FDE6A5";
  } else if (lightning_value => 30) {
    lightning_div.style.backgroundColor = "#FDABA5";
  }
}

</script>

<div class="container text-center">

    <h2>Timers still off(Proof of concept)</h2>
      <br/>

    <div class="row justify-content-evenly">
        <div class="col-4 border" id="backflow_div">
            <br/>
            <h2 id="backflow_title" style="font-size:90px;">Backflow</h2>
            <h1 class="stopwatch" id="backflow" style="font-size:140px;"></h1>
            <button onclick="backflow_timer.start()" class="btn btn-success">Start</button>
            <button onclick="backflow_timer.stop()" class="btn btn-danger">Stop</button>
			<button onclick="backflow_timer.reset()" class="btn btn-secondary">Reset</button>
        </div>
        <div class="col border" id="reflect_div">
            <br/>
            <h2 id="reflect_title" style="font-size:90px;">Reflect</h2>
            <h1 class="stopwatch" id="reflect" style="font-size:140px;"></h1>
            <button onclick="reflect_timer.start()" class="btn btn-success">Start</button>
            <button onclick="reflect_timer.stop()" class="btn btn-danger">Stop</button>
			<button onclick="reflect_timer.reset()" class="btn btn-secondary">Reset</button>
            <br/>
            <br/>
        </div>
    </div>
	<br/>
	<br/>
    <div class="row justify-content-evenly">
        <div class="col-4 border" id="fire_div">
            <br/>
            <h2 id="fire_title" style="font-size:90px;">Fire</h2>
            <h1 class="stopwatch" id="fire" style="font-size:140px;"></h1>
            <button onclick="fire_timer.start()" class="btn btn-success">Start</button>
            <button onclick="fire_timer.stop()" class="btn btn-danger">Stop</button>
			<button onclick="fire_timer.reset()" class="btn btn-secondary">Reset</button>
            <br/>
            <br/>
        </div>
        <div class="col-4 border" id="lightning_div">
            <br/>
            <h2 id="lightning_title" style="font-size:90px;">Lightning</h2>
            <h1 class="stopwatch" id="lightning" style="font-size:140px;"></h1>
            <button onclick="lightning_timer.start()" class="btn btn-success">Start</button>
            <button onclick="lightning_timer.stop()" class="btn btn-danger">Stop</button>
			<button onclick="lightning_timer.reset()" class="btn btn-secondary">Reset</button>
            <br/>
            <br/>
        </div>
    </div>
	<audio hidden preload="auto" id="audio_backflow_in">
		<source src="{% static 'audio/backflow-in.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_backflow">
		<source src="{% static 'audio/backflow.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_fire_in">
		<source src="{% static 'audio/fire-in.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_fire">
		<source src="{% static 'audio/fire.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_reflect_in">
		<source src="{% static 'audio/reflect-in.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_reflect">
		<source src="{% static 'audio/reflect.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_lightning_in">
		<source src="{% static 'audio/lightning-in.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_lightning">
		<source src="{% static 'audio/lightning.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_5">
		<source src="{% static 'audio/5.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_4">
		<source src="{% static 'audio/4.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_3">
		<source src="{% static 'audio/3.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_2">
		<source src="{% static 'audio/2.mp3' %}" type="audio/mpeg">
	</audio>
	<audio hidden preload="auto" id="audio_1">
		<source src="{% static 'audio/1.mp3' %}" type="audio/mpeg">
	</audio>
</div>
{% endblock %}