{% extends 'app/base.html' %}
{% load bootstrap5 %}


{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'css/pop.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/night.css' %}">
<script type="text/javascript">
var Stopwatch = function(element, voice_option, options, time_limit, voice) {

  var timer = createTimer(),
    audio_backflow_in = document.getElementById("audio_backflow_in"),
    audio_backflow = document.getElementById("audio_backflow"),
    audio_fire_in = document.getElementById("audio_fire_in"),
    audio_fire = document.getElementById("audio_fire"),
    audio_reflect_in = document.getElementById("audio_reflect_in"),
    audio_reflect = document.getElementById("audio_reflect"),
    audio_lightning_in = document.getElementById("audio_lightning_in"),
    audio_lightning = document.getElementById("audio_lightning"),
    audio_fuse_storm = document.getElementById("audio_fuse_storm"),
    audio_fuse_storm_in = document.getElementById("audio_fuse_storm_in"),
	  beep_long = document.getElementById("audio_beep-long"),
	  beep_short = document.getElementById("audio_beep-short"),
    audio_5 = document.getElementById("audio_5"),
    audio_4 = document.getElementById("audio_4"),
    audio_3 = document.getElementById("audio_3"),
    audio_2 = document.getElementById("audio_2"),
    audio_1 = document.getElementById("audio_1"),
	  alarm_mode_bool = false,
    preloaded = false,
	  backflow_bool = false,
    reflect_bool = false,
    lightning_bool = false,
    fire_bool = false,
    fuse_storm_bool = false,
    count_5 = false,
    count_4 = false,
    count_3 = false,
    count_2 = false,
    count_1 = false,
    volume_c,
    offset,
    clock,
    interval;

  // default options
  options = options || {};
  options.delay = options.delay || 1;

  // append elements
  element.appendChild(timer);

  // initialize
  reset();

  // private functions
  function createTimer() {
    return document.createElement("span");
  }

  function createButton(action, handler) {
    var a = document.createElement("a");
    a.href = "#" + action;
    a.innerHTML = action;
    a.addEventListener("click", function(event) {
      handler();
      event.preventDefault();
    });
    return a;
  }

  function setVolume(value) {
    volume_c = value / 100;
    //console.log('volume_c: ' + volume_c);
  }

  function start() {
    if (!interval) {
      offset = Date.now();
      interval = setInterval(update, options.delay);
    }
  }

  function stop() {
    if (interval) {
      clearInterval(interval);
      interval = null;
    }
  }

  function reset() {
    clock = time_limit;
    render(0);
  }

  function update() {
    clock -= delta();
    clock_value = clock / 1000;
    render();

    if (alarm_mode_bool) {
	     play_beep_mode(voice, clock_value);
     } else {
       play_voice_mode(voice, clock_value);
	   }

     if (clock <= 0) {
       clock = time_limit;
     }
  }

  function render() {
    value = clock / 1000;
    timer.innerHTML = value.toFixed(2);
  }

  function delta() {
    var now = Date.now(),
      d = now - offset;

    offset = now;
    return d;
  }

  function play_voice_mode(num, clock_value) {
    rounded_clock = clock_value.toFixed();

    if (num == 1) { //backflow
      play_backflow_voice(rounded_clock)
    } else if (num == 2) { //fire
      play_fire_voice(rounded_clock)
    } else if (num == 3) { //reflect
      play_reflect_voice(rounded_clock)
    } else if (num == 4) { //lightning
      play_lightning_voice(rounded_clock)
    } else if (num == 5) { //audio_fuse_storm
      play_fuse_storm_voice(rounded_clock)
    }
  }

  function play_backflow_voice(clock_value) {
    if (clock_value == 17) {
      backflow_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      backflow = false;

      if (!preloaded) {
        audio_backflow_in.load();
        preloaded = true;
      }
    }
    if (clock_value == 16) {
      if (!backflow_bool) {
        audio_backflow_in.volume = parseFloat(volume_c);
        audio_backflow_in.play();
        preloaded = false;
        backflow_bool = true;
      }
    } else if (clock_value == 15) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
    } else if (clock_value == 14) {
      if (!count_4) {
        countdown_voice(4)
        count_4 = true;
      }
    } else if (clock_value == 13) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
    } else if (clock_value == 12) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
    } else if (clock_value == 11) {
        if (!count_1) {
          countdown_voice(1)
          audio_backflow.load()
          count_1 = true;
        }
    } else if (clock_value == 10) {
        if (!backflow) {
          audio_backflow.volume = parseFloat(volume_c);
          audio_backflow.play()
          backflow = true;
        }
    }
  }

  function play_fire_voice(clock_value) {
    if (clock_value == 7) {
      fire_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      fire = false;

      if (!preloaded) {
        audio_fire_in.load();
        preloaded = true;
      }
    }
    if (clock_value == 6) {
      if (!fire_bool) {
        audio_fire_in.volume = parseFloat(volume_c);
        audio_fire_in.play();
        preloaded = false;
        fire_bool = true;
      }
    } else if (clock_value == 5) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
    } else if (clock_value == 4) {
      if (!count_4) {
        countdown_voice(4)
        count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          countdown_voice(1)
          audio_fire.load()
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!fire) {
          audio_fire.volume = parseFloat(volume_c);
          audio_fire.play()
          fire = true;
        }
    }
  }

  function play_reflect_voice(clock_value) {
    if (clock_value == 12) {
      reflect_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      reflect = false;

      if (!preloaded) {
        audio_reflect_in.load();
        preloaded = true;
      }
    }
    if (clock_value == 11) {
      if (!reflect_bool) {
        audio_reflect_in.volume = parseFloat(volume_c);
        audio_reflect_in.play();
        preloaded = false;
        reflect_bool = true;
      }
    } else if (clock_value == 10) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
    } else if (clock_value == 9) {
      if (!count_4) {
        countdown_voice(4)
        count_4 = true;
      }
    } else if (clock_value == 8) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
    } else if (clock_value == 7) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
    } else if (clock_value == 6) {
        if (!count_1) {
          countdown_voice(1)
          audio_reflect.load()
          count_1 = true;
        }
    } else if (clock_value == 5) {
        if (!reflect) {
          audio_reflect.volume = parseFloat(volume_c);
          audio_reflect.play()
          reflect = true;
        }
    }
  }

  function play_lightning_voice(clock_value) {
    if (clock_value == 7) {
      lightning_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      lightning = false;

      if (!preloaded) {
        audio_lightning_in.load();
        preloaded = true;
      }
    }
    if (clock_value == 6) {
      if (!lightning_bool) {
        audio_lightning_in.volume = parseFloat(volume_c);
        audio_lightning_in.play();
        preloaded = false;
        lightning_bool = true;
      }
    } else if (clock_value == 5) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
    } else if (clock_value == 4) {
      if (!count_4) {
        countdown_voice(4)
        count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          countdown_voice(1)
          audio_lightning.load()
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!lightning) {
          audio_lightning.volume = parseFloat(volume_c);
          audio_lightning.play()
          lightning = true;
        }
    }
  }

  function play_fuse_storm_voice(clock_value) {
    if (clock_value == 7) {
      fuse_storm_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      fuse_storm = false;

      if (!preloaded) {
        audio_fuse_storm_in.load();
        preloaded = true;
      }
    }
    if (clock_value == 6) {
      if (!fuse_storm_bool) {
        audio_fuse_storm_in.volume = parseFloat(volume_c);
        audio_fuse_storm_in.play();
        preloaded = false;
        fuse_storm_bool = true;
      }
    } else if (clock_value == 5) {
        if (!count_5) {
          countdown_voice(5)
          count_5 = true;
        }
    } else if (clock_value == 4) {
      if (!count_4) {
        countdown_voice(4)
        count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          countdown_voice(3)
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          countdown_voice(2)
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          countdown_voice(1)
          audio_fuse_storm.load()
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!fuse_storm) {
          audio_fuse_storm.volume = parseFloat(volume_c);
          audio_fuse_storm.play()
          fire = true;
        }
    }
  }

  function play_beep_mode(num, clock_value) {
    rounded_clock = clock_value.toFixed();

    if (num == 1) { //backflow
      play_backflow_beep(rounded_clock)
    } else if (num == 2) { //fire
      play_fire_beep(rounded_clock)
    } else if (num == 3) { //reflect
      play_reflect_beep(rounded_clock)
    } else if (num == 4) { //lightning
      play_lightning_beep(rounded_clock)
    } else if (num == 5) { //lightning
      play_fuse_storm_beep(rounded_clock)
    }
  }

  function play_backflow_beep(clock_value) {
    if (clock_value == 16) {
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      backflow = false;

      if (!preloaded) {
        beep_short.load();
        beep_long.load();
        preloaded = true;
      }
    }
    if (clock_value == 15) {
        if (!count_5) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_5 = true;
        }
    } else if (clock_value == 14) {
      if (!count_4) {
        beep_short.volume = parseFloat(volume_c);
        beep_short.play();
        count_4 = true;
      }
    } else if (clock_value == 13) {
        if (!count_3) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_3 = true;
        }
    } else if (clock_value == 12) {
        if (!count_2) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_2 = true;
        }
    } else if (clock_value == 11) {
        if (!count_1) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_1 = true;
        }
    } else if (clock_value == 10) {
        if (!backflow) {
          beep_long.volume = parseFloat(volume_c);
          beep_long.play();
          backflow = true;
        }
    }
  }

  function play_fire_beep(clock_value) {
    if (clock_value == 7) {
      fire_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      fire = false;

      if (!preloaded) {
        beep_short.load();
        beep_long.load();
        preloaded = true;
      }
    }
    if (clock_value == 5) {
        if (!count_5) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_5 = true;
        }
    } else if (clock_value == 4) {
        if (!count_4) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!fire) {
          beep_long.volume = parseFloat(volume_c);
          beep_long.play();
          fire = true;
        }
    }
  }

  function play_reflect_beep(clock_value) {
    if (clock_value == 11) {
      reflect_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      reflect = false;

      if (!preloaded) {
        beep_short.load();
        beep_long.load();
        preloaded = true;
      }
    }
    if (clock_value == 10) {
        if (!count_5) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_5 = true;
        }
    } else if (clock_value == 9) {
      if (!count_4) {
        beep_short.volume = parseFloat(volume_c);
        beep_short.play();
        count_4 = true;
      }
    } else if (clock_value == 8) {
        if (!count_3) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_3 = true;
        }
    } else if (clock_value == 7) {
        if (!count_2) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_2 = true;
        }
    } else if (clock_value == 6) {
        if (!count_1) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_1 = true;
        }
    } else if (clock_value == 5) {
        if (!reflect) {
          beep_long.volume = parseFloat(volume_c);
          beep_long.play();
          reflect = true;
        }
    }
  }

  function play_lightning_beep(clock_value) {
    if (clock_value == 7) {
      lightning_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      lightning = false;

      if (!preloaded) {
        beep_short.load();
        beep_long.load();
        preloaded = true;
      }
    }
    if (clock_value == 5) {
        if (!count_5) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_5 = true;
        }
    } else if (clock_value == 4) {
      if (!count_4) {
        beep_short.volume = parseFloat(volume_c);
        beep_short.play();
        count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!lightning) {
          beep_long.volume = parseFloat(volume_c);
          beep_long.play();
          lightning = true;
        }
    }
  }

  function play_fuse_storm_beep(clock_value) {
    if (clock_value == 7) {
      fuse_storm_bool = false;
      count_5 = false;
      count_4 = false;
      count_3 = false;
      count_2 = false;
      count_1 = false;
      fuse_storm = false;

      if (!preloaded) {
        beep_short.load();
        beep_long.load();
        preloaded = true;
      }
    }
    if (clock_value == 5) {
        if (!count_5) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_5 = true;
        }
    } else if (clock_value == 4) {
        if (!count_4) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_4 = true;
      }
    } else if (clock_value == 3) {
        if (!count_3) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_3 = true;
        }
    } else if (clock_value == 2) {
        if (!count_2) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_2 = true;
        }
    } else if (clock_value == 1) {
        if (!count_1) {
          beep_short.volume = parseFloat(volume_c);
          beep_short.play();
          count_1 = true;
        }
    } else if (clock_value == 0) {
        if (!fuse_storm) {
          beep_long.volume = parseFloat(volume_c);
          beep_long.play();
          fuse_storm = true;
        }
    }
  }

  function countdown_voice(num) {
    if (num == 1) {
      audio_1.volume = parseFloat(volume_c);
      audio_1.play();
    } else if (num == 2) {
        audio_2.volume = parseFloat(volume_c);
        audio_2.play()
	      //audio_1.load()
    } else if (num == 3) {
        audio_3.volume = parseFloat(volume_c);
        audio_3.play()
	      //audio_2.load()
    } else if (num == 4) {
        audio_4.volume = parseFloat(volume_c);
        audio_4.play()
	      //audio_3.load()
    } else if (num == 5) {
        audio_5.volume = parseFloat(volume_c);
        audio_5.play()
	      //audio_4.load()
    }
  }

  function alarm_mode() {
    if (alarm_mode_bool) {
      voice_option.value="Voice On";
      alarm_mode_bool = false;
    } else {
      voice_option.value="Beep On";
      alarm_mode_bool = true;
    }
  }

  // public API
  this.start = start;
  this.stop = stop;
  this.reset = reset;
  this.alarm_mode = alarm_mode;
  this.setVolume = setVolume;
};


//draggable & resizeable
function initDragElement() {
  var pos1 = 0,
    pos2 = 0,
    pos3 = 0,
    pos4 = 0;
  var popups = document.getElementsByClassName("popup");
  var elmnt = null;
  var currentZIndex = 100; //TODO reset z index when a threshold is passed

  for (var i = 0; i < popups.length; i++) {
    var popup = popups[i];
    var header = getHeader(popup);

    popup.onmousedown = function() {
      this.style.zIndex = "" + ++currentZIndex;
    };

    if (header) {
      header.parentPopup = popup;
      header.onmousedown = dragMouseDown;
    }
  }

  function dragMouseDown(e) {
    elmnt = this.parentPopup;
    elmnt.style.zIndex = "" + ++currentZIndex;

    e = e || window.event;
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    if (!elmnt) {
      return;
    }

    e = e || window.event;
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = elmnt.offsetTop - pos2 + "px";
    elmnt.style.left = elmnt.offsetLeft - pos1 + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }

  function getHeader(element) {
    var headerItems = element.getElementsByClassName("popup-header");

    if (headerItems.length === 1) {
      return headerItems[0];
    }

    return null;
  }
}

function initResizeElement() {
  var popups = document.getElementsByClassName("popup");
  var element = null;
  var startX, startY, startWidth, startHeight;

  for (var i = 0; i < popups.length; i++) {
    var p = popups[i];

    var right = document.createElement("div");
    right.className = "resizer-right";
    p.appendChild(right);
    right.addEventListener("mousedown", initDrag, false);
    right.parentPopup = p;

    var bottom = document.createElement("div");
    bottom.className = "resizer-bottom";
    p.appendChild(bottom);
    bottom.addEventListener("mousedown", initDrag, false);
    bottom.parentPopup = p;

    var both = document.createElement("div");
    both.className = "resizer-both";
    p.appendChild(both);
    both.addEventListener("mousedown", initDrag, false);
    both.parentPopup = p;
  }

  function initDrag(e) {
    element = this.parentPopup;

    startX = e.clientX;
    startY = e.clientY;
    startWidth = parseInt(
      document.defaultView.getComputedStyle(element).width,
      10
    );
    startHeight = parseInt(
      document.defaultView.getComputedStyle(element).height,
      10
    );
    document.documentElement.addEventListener("mousemove", doDrag, false);
    document.documentElement.addEventListener("mouseup", stopDrag, false);
  }

  function doDrag(e) {
    element.style.width = startWidth + e.clientX - startX + "px";
    element.style.height = startHeight + e.clientY - startY + "px";
  }

  function stopDrag() {
    document.documentElement.removeEventListener("mousemove", doDrag, false);
    document.documentElement.removeEventListener("mouseup", stopDrag, false);
  }
}

//Background Change
const bg_change_interval = setInterval(setColor, 500);

function setColor() {
  let backflow_div = document.getElementById("backflow_div");
  let backflow_value = document.getElementById("backflow").innerText;

  if (backflow_value >= 15) {
   backflow_div.style.backgroundColor = "#B9FEC2";
  } else if (backflow_value >= 10 && backflow_value <= 15){
    backflow_div.style.backgroundColor = "#FDE6A5";
  } else if (backflow_value <= 10) {
    backflow_div.style.backgroundColor = "#FDABA5";
  }

  let reflect_div = document.getElementById("reflect_div");
  let reflect_value = document.getElementById("reflect").innerText;

  if (reflect_value >= 10) {
   reflect_div.style.backgroundColor = "#B9FEC2";
  } else if (reflect_value >= 5 && reflect_value <= 10){
    reflect_div.style.backgroundColor = "#FDE6A5";
  } else if (reflect_value <= 5) {
    reflect_div.style.backgroundColor = "#FDABA5";
  }

  let fire_div = document.getElementById("fire_div");
  let fire_value = document.getElementById("fire").innerText;

  if (fire_value >= 10) {
   fire_div.style.backgroundColor = "#B9FEC2";
  } else if (fire_value >= 5 && fire_value <= 10){
    fire_div.style.backgroundColor = "#FDE6A5";
  } else if (fire_value <= 5) {
    fire_div.style.backgroundColor = "#FDABA5";
  }

  let lightning_div = document.getElementById("lightning_div");
  let lightning_value = document.getElementById("lightning").innerText;

  if (lightning_value >= 10) {
   lightning_div.style.backgroundColor = "#B9FEC2";
  } else if (lightning_value >= 5 && lightning_value <= 10){
    lightning_div.style.backgroundColor = "#FDE6A5";
  } else if (lightning_value <= 5) {
    lightning_div.style.backgroundColor = "#FDABA5";
  }

  let fuse_storm_div = document.getElementById("fuse_storm_div");
  let fuse_storm_value = document.getElementById("fuse_storm").innerText;

  if (fuse_storm_value >= 10) {
   fuse_storm_div.style.backgroundColor = "#B9FEC2";
  } else if (fuse_storm_value >= 5 && fuse_storm_value <= 10){
    fuse_storm_div.style.backgroundColor = "#FDE6A5";
  } else if (fuse_storm_value <= 5) {
    fuse_storm_div.style.backgroundColor = "#FDABA5";
  }
}

function nightmode() {
  document.body.classList.toggle('night-filter');
}

//Onload function
window.onload = function() {
  var backflow_option = document.getElementById("backflow_option");
  var anew = document.getElementById("backflow");
  backflow_timer = new Stopwatch(anew, backflow_option, {delay: 1}, 30000, 1);

  var reflect_option = document.getElementById("reflect_option");
  var bnew = document.getElementById("reflect");
  reflect_timer = new Stopwatch(bnew, reflect_option, {delay: 1}, 35000, 3);

  var fire_option = document.getElementById("fire_option");
  var cnew = document.getElementById("fire");
  fire_timer = new Stopwatch(cnew, fire_option, {delay: 1}, 30000, 2);

  var lightning_option = document.getElementById("lightning_option");
  var dnew = document.getElementById("lightning");
  lightning_timer = new Stopwatch(dnew, lightning_option, {delay: 1}, 30000, 4);

  var fuse_storm_option = document.getElementById("fuse_storm_option");
  var enew = document.getElementById("fuse_storm");
  fuse_storm_timer = new Stopwatch(enew, fuse_storm_option, {delay: 1}, 25000, 5);
  initDragElement();
  initResizeElement();
};
</script>

<div class="container text-center">
  <h2>Timers</h2>
  <p>Each timers can be moved or resized to your desired. You can also change between voice or beep for alert.</p>
  <p>How to use : Start timer right after the effect has ended.</p>
  <p>
    <button class="btn btn-outline-dark " onclick="nightmode()" id="night-filter">Nightmode Filter</button>
  </p>
  <br/>

  <div class="row justify-content-evenly">
    <div class="col-4">
			<div class="popup" id="backflow_div">
				<div class="popup-header">Click here to move</div>
				<br/>
				<h2 id="backflow_title" class="font">Backflow</h2>
				<h1 class="stopwatch font" id="backflow"></h1>
				<button onclick="backflow_timer.start()" class="btn btn-success">Start</button>
				<button onclick="backflow_timer.stop()" class="btn btn-danger">Stop</button>
				<button onclick="backflow_timer.reset()" class="btn btn-secondary">Reset</button>
				<p></p>
        <p>Voice/Beep Option</p>
        <input onclick="backflow_timer.alarm_mode()" type="button" class="btn btn-secondary" id="backflow_option" value="Voice On" />
        <p></p>
        <p>Volume Control</p>
        <input id="backflow_vol-control" type="range" min="0" max="100" step="1" oninput="backflow_timer.setVolume(this.value)" onchange="backflow_timer.setVolume(this.value)"></input>
				<br/>
				<br/>
      </div>
    </div>
    <div class="col-4">
			<div class="popup" id="reflect_div">
				<div class="popup-header">Click here to move</div>
				<br/>
				<h2 id="reflect_title" class="font">Reflect</h2>
				<h1 class="stopwatch font" id="reflect"></h1>
				<button onclick="reflect_timer.start()" class="btn btn-success">Start</button>
				<button onclick="reflect_timer.stop()" class="btn btn-danger">Stop</button>
				<button onclick="reflect_timer.reset()" class="btn btn-secondary">Reset</button>
				<p></p>
        <p>Voice/Beep Option</p>
        <input onclick="reflect_timer.alarm_mode()" type="button" class="btn btn-secondary" id="reflect_option" value="Voice On" />
        <p></p>
        <p>Volume Control</p>
        <input id="reflect_vol-control" type="range" min="0" max="100" step="1" oninput="reflect_timer.setVolume(this.value)" onchange="reflect_timer.setVolume(this.value)"></input>
				<br/>
        <br/>
			</div>
    </div>
  </div>

	<div class="d-grid gap-3">
		<div class="p-2"></div>
		<div class="p-2"></div>
		<div class="p-2"></div>
	</div>
	<div class="d-grid gap-3">
		<div class="p-2"></div>
		<div class="p-2"></div>
		<div class="p-2"></div>
	</div>
	<div class="d-grid gap-3">
		<div class="p-2"></div>
		<div class="p-2"></div>
		<div class="p-2"></div>
	</div>

  <div class="row justify-content-evenly">
    <div class="col-4">
			<div class="popup" id="fire_div">
				<div class="popup-header">Click here to move</div>
				<br/>
				<h2 id="fire_title" class="font">Fire</h2>
				<h1 class="stopwatch font" id="fire"></h1>
				<button onclick="fire_timer.start()" class="btn btn-success">Start</button>
				<button onclick="fire_timer.stop()" class="btn btn-danger">Stop</button>
				<button onclick="fire_timer.reset()" class="btn btn-secondary">Reset</button>
				<p></p>
        <p>Voice/Beep Option</p>
        <input onclick="fire_timer.alarm_mode()" type="button" class="btn btn-secondary" id="fire_option" value="Voice On" />
        <p></p>
        <p>Volume Control</p>
        <input id="fire_vol-control" type="range" min="0" max="100" step="1" oninput="fire_timer.setVolume(this.value)" onchange="fire_timer.setVolume(this.value)"></input>
				<br/>
				<br/>
			</div>
    </div>
  <div class="col-4">
		<div class="popup" id="lightning_div">
			<div class="popup-header">Click here to move</div>
			<br/>
			<h2 id="lightning_title" class="font">Lightning</h2>
			<h1 class="stopwatch font" id="lightning"></h1>
			<button onclick="lightning_timer.start()" class="btn btn-success">Start</button>
			<button onclick="lightning_timer.stop()" class="btn btn-danger">Stop</button>
			<button onclick="lightning_timer.reset()" class="btn btn-secondary">Reset</button>
			<p></p>
      <p>Voice/Beep Option</p>
      <input onclick="lightning_timer.alarm_mode()" type="button" class="btn btn-secondary" id="lightning_option" value="Voice On" />
      <p></p>
      <p>Volume Control</p>
      <input id="lightning_vol-control" type="range" min="0" max="100" step="1" oninput="lightning_timer.setVolume(this.value)" onchange="lightning_timer.setVolume(this.value)"></input>
			<br/>
			<br/>
		</div>
  </div>
  </div>

  <div class="d-grid gap-3">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="p-2"></div>
  </div>
  <div class="d-grid gap-3">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="p-2"></div>
  </div>
  <div class="d-grid gap-3">
    <div class="p-2"></div>
    <div class="p-2"></div>
    <div class="p-2"></div>
  </div>

  <div class="row justify-content-evenly">
    <div class="col-4">
      <div class="popup" id="fuse_storm_div">
        <div class="popup-header">Click here to move</div>
        <br/>
        <h2 id="fuse_storm_title" class="font">Fuse Storm</h2>
        <h1 class="stopwatch font" id="fuse_storm"></h1>
        <button onclick="fuse_storm_timer.start()" class="btn btn-success">Start</button>
        <button onclick="fuse_storm_timer.stop()" class="btn btn-danger">Stop</button>
        <button onclick="fuse_storm_timer.reset()" class="btn btn-secondary">Reset</button>
        <p></p>
        <p>Voice/Beep Option</p>
        <input onclick="fuse_storm_timer.alarm_mode()" type="button" class="btn btn-secondary" id="fuse_storm_option" value="Voice On" />
        <p></p>
        <p>Volume Control</p>
        <input id="fuse_storm_vol-control" type="range" min="0" max="100" step="1" oninput="fuse_storm_timer.setVolume(this.value)" onchange="fuse_storm_timer.setVolume(this.value)"></input>
        <br/>
        <br/>
      </div>
    </div>
  </div>

  <audio hidden preload="auto" id="audio_backflow_in">
	   <source src="{% static 'audio/backflow-in.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_backflow">
	   <source src="{% static 'audio/backflow.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_fire_in">
	   <source src="{% static 'audio/fire-in.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_fire">
	   <source src="{% static 'audio/fire.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_reflect_in">
	   <source src="{% static 'audio/reflect-in.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_reflect">
	   <source src="{% static 'audio/reflect.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_lightning_in">
	   <source src="{% static 'audio/lightning-in.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_lightning">
	   <source src="{% static 'audio/lightning.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_fuse_storm">
	   <source src="{% static 'audio/fuse-storm.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_fuse_storm_in">
	   <source src="{% static 'audio/fuse-storm-in.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_5">
	   <source src="{% static 'audio/5.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_4">
	   <source src="{% static 'audio/4.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_3">
	   <source src="{% static 'audio/3.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_2">
	   <source src="{% static 'audio/2.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_1">
	   <source src="{% static 'audio/1.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_beep-long">
	   <source src="{% static 'audio/beep-long.mp3' %}" type="audio/mpeg">
  </audio>
  <audio hidden preload="auto" id="audio_beep-short">
	   <source src="{% static 'audio/beep-short.mp3' %}" type="audio/mpeg">
  </audio>
</div>
{% endblock %}
